<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Registreeringud</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="navbar :: header"></div>
<div class="container">
    <form action="#" th:action="@{/view}" th:object="${dentistVisitDTO}" method="post">
        <div class="form-group">
            <label for="dentistName" th:text="#{arsti.nimi}">arsti.nimi</label>
            <input id="dentistName" class="form-control" type="text" th:field="*{dentistName}"/>
        </div>
        <div class="form-group">
            <label for="docName" th:text="#{pere.arsti.nimi}">pere.arsti.nimi</label>
            <input id="docName" class="form-control" type="text" th:field="*{docName}"/>
        </div>
        <div class="form-group">
            <label for="visitTime" th:text="#{visiidi.kuupaev}">visiidi.kuupaev</label>
            <input id="visitTime" class="form-control" type="text" th:field="*{visitTime}"/>
        </div>
        <div class="form-group">
            <label for="visitHours" th:text="#{visiidi.aeg}">visiidi.aeg</label>
            <input id="visitHours" class="timepicker form-control" type="text" th:field="*{visitTimeH}"/>
        </div>
        <button type="submit" class="btn btn-md btn-default" th:text="#{str.otsi}">str.otsi</button>
    </form>
    <table class="table">
        <tr>
            <td th:text="#{visit.id}"></td>
            <td th:text="#{visit.time}"></td>
            <td th:text="#{visit.gp}"></td>
            <td th:text="#{visit.dentist}"></td>
        </tr>
        <tr th:each="visit : ${visits}">
            <td th:text="${visit.id}">Text ...</td>
            <td th:text="${visit.visitTime}">Text ...</td>
            <td th:text="${visit.docName}">Text ...</td>
            <td th:text="${visit.dentistName}">Text ...</td>
        </tr>
    </table>
</div>
</body>
</html>
